#tablearea-wrap{
    position: absolute;
        width: 81%;
        height: 80%;
        left: 250px;
        top: 72px;
        background: #ebeaeaa9;
        border-radius: 15px;
}
#table-container{
    /* border: 1px solid black; */
    margin-top: 45px;
    margin-left: 2%;
    margin-right: 1%;
    border-radius: 10px ;
}